.map-body-component {
    .map-main {
        margin-top: 100px;
    }
    
    .gmap {
        margin-top: 50px;
        width: 100%;
    }

    .contact-us {
        font-size: 35px;
    }

    .row {
        margin-left: unset;
        margin-right: unset;
    }

    .th-header-divider {
        width: 177px;
        border-color: #f25f5c;
        display: inline-block;
        border: 2px solid #1e8190;
        margin-bottom: 18px;
    }   
}